<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>

    <style media="screen">
      <%= Rouge::Themes::MonokaiSublimeSlate.render(:scope => '.highlight') %>
    </style>
    <style media="print">
      * {
        transition:none!important;
      }
      <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if current_page.data.code_clipboard %>
    <script>
      $(function() { setupCodeCopy(); });
    </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="toc-wrapper">
    <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="102" height="26" viewBox="0 0 102 26" fill="none">
        <path d="M21.7129 4.313C20.5885 4.313 19.656 3.40798 19.656 2.25615C19.656 1.10431 20.5885 0.171875 21.7129 0.171875C22.8647 0.171875 23.7971 1.10431 23.7971 2.25615C23.7971 3.40798 22.8647 4.313 21.7129 4.313Z" fill="#22382E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M32.8102 25.9236C29.2724 25.9236 26.8042 23.7297 26.4477 21.042L29.3821 20.2741C29.6015 21.9196 30.8905 23.1537 32.7279 23.1537C35.251 23.1537 36.5125 21.8648 36.5125 19.1497V17.7511C35.9366 18.7932 34.5928 19.6982 32.6457 19.6982C29.0805 19.6982 26.4751 16.9558 26.4751 13.1986C26.4751 9.63338 28.9708 6.69894 32.6457 6.69894C34.7299 6.69894 36.0189 7.54911 36.5948 8.64609V6.94577H39.6664V19.04C39.6664 22.6052 37.8289 25.9236 32.8102 25.9236ZM29.6838 13.1986C29.6838 15.5297 31.0825 16.9832 33.1667 16.9832C35.1962 16.9832 36.5948 15.5023 36.5948 13.1986C36.5948 10.9223 35.1413 9.44141 33.1667 9.44141C31.1373 9.44141 29.6838 10.9223 29.6838 13.1986Z" fill="#22382E"/>
        <path d="M49.5082 9.44141C47.753 9.44141 46.7932 10.7578 46.7383 12.4581V20.3016H43.557V0.446121H46.7383V8.23472C47.6433 7.05546 49.1517 6.56182 50.5503 6.56182C53.8413 6.56182 55.4319 8.92034 55.4319 11.8548V20.3016H52.2507V12.4033C52.2507 10.7578 51.5102 9.44141 49.5082 9.44141Z" fill="#22382E"/>
        <path d="M68.1527 4.313C67.0283 4.313 66.0958 3.40798 66.0958 2.25615C66.0958 1.10431 67.0283 0.171875 68.1527 0.171875C69.3045 0.171875 70.2369 1.10431 70.2369 2.25615C70.2369 3.40798 69.3045 4.313 68.1527 4.313Z" fill="#22382E"/>
        <path d="M79.7985 9.44141C77.9885 9.44141 77.0286 10.8401 77.0286 12.5952V20.3016H73.8474V6.94577H76.9464V8.72837C77.8239 7.19259 79.4146 6.56182 80.8955 6.56182C84.159 6.56182 85.7222 8.92034 85.7222 11.8548V20.3016H82.541V12.4033C82.541 10.7578 81.8005 9.44141 79.7985 9.44141Z" fill="#22382E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M95.3817 17.9705C97.3014 17.9705 98.2887 16.9558 98.7275 15.6394L101.415 16.4895C100.702 18.8206 98.5904 20.7129 95.3817 20.7129C91.7617 20.7129 88.553 18.0802 88.553 13.5551C88.553 9.33171 91.6794 6.53439 95.0526 6.53439C99.1663 6.53439 101.58 9.24944 101.58 13.4728C101.58 13.9939 101.525 14.4327 101.497 14.4875H91.7342C91.8165 16.517 93.4072 17.9705 95.3817 17.9705ZM95.08 9.19459C93.078 9.19459 91.9262 10.7304 91.8165 12.1564H98.371C98.3162 10.5932 97.274 9.19459 95.08 9.19459Z" fill="#22382E"/>
        <path d="M15.7579 0.857491V20.3016H12.4395V11.9919H3.30707V20.3016H0.0161133V0.857491H3.30707V8.89292H12.4395V0.857491H15.7579Z" fill="#22382E"/>
        <path d="M23.3035 6.94577V20.3016H20.1497V6.94577H23.3035Z" fill="#22382E"/>
        <path d="M62.4861 0.446121V20.3016H59.3048V0.446121H62.4861Z" fill="#22382E"/>
        <path d="M69.7433 6.94577V20.3016H66.5895V6.94577H69.7433Z" fill="#22382E"/>
      </svg>
    </div>
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <ul id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= page_content %>
      </div>
      <div class="dark-box" style="display:none;">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
